/* GENERAL */
.frameitembg .listcaption { border: 1px solid rgba(0,0,0,.2); border-left: 0;
    border-right: 0; background: #2980b9; text-align: center; color: #eee;
    padding: 0px 5px; font-weight: bold; font-size: 13px; text-shadow: 0 2px 1px rgba(0,0,0,.2);
    min-height: 20px; line-height: 20px; }
.frameitembg .listcaption:first-of-type { border-top: 0; }

.frameitembg .listrow { padding: 0 5px; min-height: 18px; background: #fafafa; font-size: 12px; line-height: 18px; }
.frameitembg .listrow a:hover { text-decoration: none !important; }

.frameitembg p.listcaption:first-of-type { margin-top: -6px; }
.frameitembg .listcaption, .frameitembg .listrow { margin-left: -6px; margin-right: -6px; }
/* /GENERAL */

/* COLORS */
#listrow_clan, #listrow_int, #listrow_defensep, #listrow_ring, #listrow_neck + #listrow_special { background: #eee; }
#listrow_aka_battlep { background: #3498db; color: #eee; text-align: center;
    border-bottom: 1px solid rgba(0,0,0,.2); font-size: 10px; }
#listrow_aka_battlep a { color: #fff; }
/* /COLORS */

/* TABLE */
#listrow_char_mission, #listrow_clan { height: 18px; display: table; margin-left: -6px;
    padding: 0; width: calc(100% + 12px); border-collapse: collapse; font-size: 0;
    color: transparent; margin-bottom: -3px; }
/* /TABLE */

/* TABLECELLS */
#listrow_char_mission a, #listrow_clan a { display: table-cell; width: 50%;
    text-align: center; padding: 0 2px; margin: 0; height: 22px; line-height: 18px; }
#listrow_char_mission a:nth-of-type(1), #listrow_clan a:nth-of-type(1) {
    border-right: 1px solid rgba(0,0,0,.1); }
#listrow_char_mission a { font-size: 0; }

#listrow_char_mission a:nth-of-type(1):after { font-size: 12px; content: "F\00E4higkeiten"; }
#listrow_char_mission a:nth-of-type(2):after { font-size: 12px; content: "Auftrag"; }
#listrow_clan a { font-size: 12px; }
#listrow_clan b { display: none; }
#listrow_clan a:nth-of-type(1):last-child { padding-right: 50%; }
/* /TABLECELLS */

/* GROUP */
#listrow_clan img[src$="group.gif"] { display: none; }
#listrow_clan a[href="fight.php?action=groupjoinrand"]:after {
    padding-left: 3px; content: " Gruppe"; }

#listrow_group { position: absolute; z-index: 2; right: 6px; left: calc(50% + 6px);
    background: red; text-align: center; margin-top: -19px; background: #eee; border: 0; }
/* /GROUP */

/* LIFEPOINTS */
#listrow_lifep { position: absolute; right: 0; background: #fff; margin: 0;
    z-index: 10000; font-size: 16px; border: 1px solid rgba(0,0,0,.2);
    padding: 0 5px; height: 36px; line-height: 36px; border-right: 0;
    box-shadow: 0 0 3px rgba(0,0,0,.1); }
#listrow_lifep > b { display: none; }
#listrow_lifep > span > b { font-weight: bold; }
/* /LIFEPOINTS */

/* MINOR TWEAKS */
#listrow_int > b:first-of-type, #listrow_money > b { display: inline-block; width: 16px; overflow: hidden; line-height: 0; }
#listrow_int > b:first-of-type { width: 0; }
#listrow_status + div[align="center"] { display: none; }
/* /MINOR TWEAKS */

/* MONEY */
#listrow_money { white-space: nowrap; overflow: hidden; }
#listrow_money > b { display: inline-block; width: 16px; overflow: hidden; }
#listrow_money img[src$="icon_gold.gif"] { display: inline-block; width: 0; margin-right: 100%; }
#listrow_money b:before { content: url(i/icon_gold.gif); margin-right: 4px; transform: translateY(1px); display: inline-block; }
#listrow_money a { display: inline-block; }
#listrow_money a img { display: none; }
#listrow_money a[href="item.php?action=moneydrop1"] { text-indent: -5px; margin-left: -100%; margin-right: 100%; }
#listrow_money a[href="item.php?action=moneytransfer1"] { margin-left: -100%; margin-right: 100% }
#listrow_money a:after { font-family: FontAwesome; font-weight: normal; font-style: normal; }
#listrow_money a[href="item.php?action=moneydrop1"]:after { content: "\f13a"; }
#listrow_money a[href="item.php?action=moneytransfer1"]:after { content: "\f138"; }
/* /MONEY */

/* HIGHLIGHT IMPORTANT INFO */
#listrow_money > b, #listrow_lifep > b, #listrow_int > b, #listrow_attackp > b,
#listrow_attackw > b, #listrow_defensep > b, #listrow_defensew > b { font-weight: normal; }

#listrow_money, #listrow_lifep, #listrow_int, #listrow_attackp,
#listrow_attackw, #listrow_defensep, #listrow_defensew { font-weight: bold; }
/* /HIGHLIGHT IMPORTANT INFO */

/* SPECIAL & STATUS */
#listrow_special, #listrow_special a { height: 18px; line-height: 18px; }
#listrow_special a { width: 0; display: inline-block; font-size: 0; }
#listrow_special a:before { font-size: 12px; content: "Spezial"; }
#listrow_status { min-height: 0; }
#listrow_special + #listrow_status { min-height: 18px; margin-top: -18px; text-indent: 40px; background: #eee; }
#listrow_ring + #listrow_special + #listrow_status { background: transparent; }
#listrow_status .small { font-size: 12px; }
/* /SPECIAL & STATUS */
