.positiontext:after { font-weight: normal; font-style: normal;
    text-decoration: none; position: absolute; top: 0; left: 105px; font-family: FontAwesome;
    color: #ffa375; }

/* #mainmapx54y113 */
// siehe Addon
