#puzzle .pic1,
#puzzle .pic2,
#puzzle .pic3,
#puzzle .pic4,
#puzzle .pic5,
#puzzle .pic6,
#puzzle .pic7,
#puzzle .pic8,
#puzzle .pic9,
#puzzle .pic10,
#puzzle .pic11,
#puzzle .pic12,
#puzzle .pic13,
#puzzle .pic14,
#puzzle .pic15 { background-image: url(i/zauberpuzzle.png) !important; }
